<?php
	$userAttributes = json_encode($this->viewData[IdpConstants::USER_SESSION_DATA], JSON_PRETTY_PRINT);
    $responseBody = json_encode($this->viewData[IdpConstants::REF_ID], JSON_PRETTY_PRINT | JSON_UNESCAPED_SLASHES);

    $rawRequest = array();
    if($this->viewData != null)
    {
		$contentLength = strlen(utf8_decode($userAttributes));
        array_push($rawRequest, "POST " . UrlUtil::dropoffUrl());
		array_push($rawRequest, "Content-Type: application/json");
		array_push($rawRequest, "Content-Length: " . $contentLength);
		array_push($rawRequest, IdpConstants::PING_ADAPTER_ID_HEADER . ": " . $GLOBALS[IdpConstants::IDP_ADAPTER_CONFIGURATION][IdpConstants::ADAPTER_ID]);
        $credentials = $GLOBALS[IdpConstants::IDP_ADAPTER_CONFIGURATION][IdpConstants::ADAPTER_USERNAME] . ":" 
                            . $GLOBALS[IdpConstants::IDP_ADAPTER_CONFIGURATION][IdpConstants::ADAPTER_PASSPHRASE];
		array_push($rawRequest, "Authorization: " .  base64_encode($credentials));
		array_push($rawRequest, "");
		array_push($rawRequest, $userAttributes);
	}
    $rawRequest = implode("\r\n", $rawRequest);


    $rawResponse = array();
    if($this->viewData != null)
    {
        foreach($this->viewData[IdpConstants::RESPONSE_HEADERS] as $key => $value)
        {
            if ($key == IdpConstants::HTTP_RESPONSE_CODE)
            {
                array_push($rawResponse, $value);
            }
            else
            {
                array_push($rawResponse, $key . " : " . $value);
            }
        }
	}
	array_push($rawResponse, "");
    array_push($rawResponse, $responseBody);
    $rawResponse = implode("\r\n", $rawResponse); 
?>
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link media="screen" href="/AgentlessIdPSample/IdpSampleApp/View/css/main.css" type="text/css" rel="stylesheet">
        <link href="/AgentlessIdPSample/IdpSampleApp/View/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
        <script src="/AgentlessIdPSample/IdpSampleApp/View/js/common.js"></script>
        <title>Agentless Integration Kit PHP Sample IdP</title>
    </head>
    <body>
        <div class="body-container">
            <div class="ping-body-container">
                <div class="header-block">
                    <div class="header">Identity Provider Sample</div>
                    <div class="sub-header">Drop Off User-Session Attributes</div>
                    <div class="left-header">
                    	<a href=<?php echo UrlUtil::configureUrl() ?>>Configuration</a>
                    </div>
                </div>
			<?php
				if ($this->viewData != null)
				{
			?>
                <div class="row dropoff-container">
					<div class="column request-container">
						<p class="text-label">Reference ID IdP Adapter Request</p>                	
						<p class="text-value"><?php echo "POST " . IdpConstants::REF_ID_ADAPTER_DROPOFF_ENDPOINT ?></p>                	
						<p>
							<a id="show_raw_request_link" 
							   onclick="javascript:toggleShowRaw('raw_request_textarea', 'show_raw_request_link');">
								   Show raw
							</a>
						</p>
						<p>
							<textarea id="raw_request_textarea" 
									  class="code-view" 
									  rows="15" 
									  cols="60" 
									  style="display:none" 
									  readonly><?php echo $rawRequest ?></textarea>
						</p>							
						<p class="text-label">User-Session Attributes</p>
						<p>
							<textarea id="request_attributes" 
									  class="code-view" 
									  rows="10" 
									  cols="60" 
									  readonly><?php echo $userAttributes ?></textarea>
						</p>
					</div>
					<div class="column response-container">
						<p class="text-label">Reference ID IdP Adapter Response</p>                	
						<p class="text-value">
							<?php echo "HTTP Status: " . 
								substr($this->viewData[IdpConstants::RESPONSE_HEADERS][IdpConstants::HTTP_RESPONSE_CODE], 9) . 
								"\n"
							?>
						</p>                	
						<p>
							<a id="show_raw_response_link" 
							   onclick="javascript:toggleShowRaw('raw_response_textarea', 'show_raw_response_link');">
								   Show raw
							</a>
						</p>
						<p>
							<textarea id="raw_response_textarea" 
									  class="code-view" 
									  rows="15" 
									  cols="60" 
									  style="display:none" 
									  readonly><?php echo $rawResponse ?></textarea>
						</p>
						<p class="text-label">Reference ID </p>                	
						<p class="text-value"><?php echo $this->viewData[IdpConstants::REF_ID][IdpConstants::REF_ID] ?></p>                	
					</div>
				</div>
				<div class="bottom-button-container">
					<form method="POST" 
						  action=<?php echo UrlUtil::resumeUrl() ?>>
						<input type="hidden" id="resumePath" name="resumePath" value="<?php echo $this->viewData[IdpConstants::RESUME_PATH]?>">
						<input type="hidden" id="REF" name="REF" value="<?php echo $this->viewData[IdpConstants::REF_ID][IdpConstants::REF_ID] ?>">
						<input class="table-button" id="ok_button" name="submit" type="submit" value="OK"/>
					</form>
				</div>
			<?php              			
				}
				else
				{
			?>
				<div class="solo-text-container">
					<p class="solo-text">State from the previous request has been invalidated. Please restart the flow.</p>
				</div>
			<?php
				}
			?>
				<div class="ping-link-fragment"><?php echo $this->viewData[IdpConstants::RESUME_PATH]?></div>
				<div class="start-over-link-container">
					<a href=<?php echo UrlUtil::ssoUrl() ?>>Start Over</a>
				</div>
			</div>
		<div class="ping-footer-container">
			<div class="ping-footer">
				<div class="ping-credits"></div>
				<div class="ping-copyright">
					Copyright © 2003-2020. Ping Identity Corporation. All rights reserved.
				</div>
			</div>
		</div>
	</div>
</body>
</html>

</html>