<?php
    $responseBody = "";
    if(isset($this->viewData[IdpConstants::RESPONSE_DATA]))
    {
        $responseBody = json_encode($this->viewData[IdpConstants::RESPONSE_DATA], JSON_PRETTY_PRINT | JSON_UNESCAPED_SLASHES);
    }

    $rawRequest = array();
    if(!isset($this->viewData[IdpConstants::ERROR_MESSAGE]))
    {
        array_push($rawRequest, "GET " . UrlUtil::pickUpUrl($this->viewData[IdpConstants::REF_ID]));
        array_push($rawRequest, IdpConstants::PING_ADAPTER_ID_HEADER . ": " . $GLOBALS[IdpConstants::IDP_ADAPTER_CONFIGURATION][IdpConstants::ADAPTER_ID]);
        $credentials = $GLOBALS[IdpConstants::IDP_ADAPTER_CONFIGURATION][IdpConstants::ADAPTER_USERNAME] . ":" 
                            . $GLOBALS[IdpConstants::IDP_ADAPTER_CONFIGURATION][IdpConstants::ADAPTER_PASSPHRASE];
        array_push($rawRequest, "Authorization: " .  base64_encode($credentials));
    }
    $rawRequest = implode("\r\n", $rawRequest);


    $rawResponse = array();
    if(!isset($this->viewData[IdpConstants::ERROR_MESSAGE]))
    {
        foreach($this->viewData[IdpConstants::RESPONSE_HEADERS] as $key => $value)
        {
            if ($key == IdpConstants::HTTP_RESPONSE_CODE)
            {
                array_push($rawResponse, $value);
            }
            else
            {
                array_push($rawResponse, $key . " : " . $value);
            }
        }
    }
    array_push($rawResponse, "");
    array_push($rawResponse, $responseBody);
    $rawResponse = implode("\r\n", $rawResponse); 
?>

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link media="screen" href="/AgentlessIdPSample/IdpSampleApp/View/css/main.css" type="text/css" rel="stylesheet">
        <link href="/AgentlessIdPSample/IdpSampleApp/View/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
        <script src="/AgentlessIdPSample/IdpSampleApp/View/js/common.js"></script>
        <title>Agentless Integration Kit PHP Sample IdP</title>
    </head>
    <body>
        <div class="body-container">
            <div class="ping-body-container">
                <?php
                    if (!isset($this->viewData[IdpConstants::ERROR_MESSAGE])) 
                    {
                ?>
                                <div class="header-block">
                                    <div class="header">Identity Provider Sample</div>
                                    <div class="sub-header">Pick Up User-Session Attributes</div>
                                    <div class="left-header">
                                        <a href=<?php echo UrlUtil::configureUrl() ?>>Configuration</a>
                                    </div>
                                </div>
                <?php	
                    }
                    else
                    {
                ?>
                                <div class="header-block">
                                    <div class="header">Identity Provider Sample</div>
                                    <div class="sub-header">Sign On</div>
                                    <div class="left-header">
                                        <a href=<?php echo UrlUtil::configureUrl() ?>>Configuration</a>
                                    </div>
                                </div>
                <?php           			
                    }
                ?>
                <?php
                    if (isset($this->viewData[IdpConstants::ERROR_MESSAGE]))
                    {
                ?>
                        <div class="login-failure"><?= $this->viewData[IdpConstants::ERROR_MESSAGE] ?></div>
                <?php
                    }
                ?>
                <?php
                    if (!isset($this->viewData[IdpConstants::ERROR_MESSAGE])) 
                    {		  
                ?>
					<div class="row protocol-container">
						<div class="column request-container">
							<p class="text-label">Reference ID IdP Adapter Request</p>
							<p class="text-value"><?php echo "GET " . IdpConstants::REF_ID_ADAPTER_PICKUP_ENDPOINT ?></p>
							<p>
								<a id="show_raw_request_link" 
								   onclick="javascript:toggleShowRaw('raw_request_textarea', 'show_raw_request_link');">
								   	Show raw
							   	</a>
							</p>
							<p>
								<textarea id="raw_request_textarea" 
										  class="code-view" 
										  rows="5" 
										  cols="60" 
										  style="display:none" 
										  readonly><?php echo $rawRequest ?></textarea>
							</p>
							<p class="text-label">Reference ID</p>
							<p class="text-value"><?php echo $this->viewData[IdpConstants::REF_ID] ?></p>
						</div>
						<div class="column response-container">
							<p class="text-label">Reference ID IdP Adapter Response</p>
							<p class="text-value">
								<?php echo "HTTP Status: " . 
                                    substr($this->viewData[IdpConstants::RESPONSE_HEADERS][IdpConstants::HTTP_RESPONSE_CODE], 9) . 
                                    "\n"
								?>
							</p>
							<p>
								<a id="show_raw_response_link" 
								   onclick="javascript:toggleShowRaw('raw_response_textarea', 'show_raw_response_link');">
								   	Show raw
							   	</a>
							</p>
							<p>
								<textarea id="raw_response_textarea" 
										  class="code-view" 
										  rows="20" 
										  cols="60" 
										  style="display:none" 
										  readonly><?php echo $rawResponse ?></textarea>
							</p>
							<p class="text-label">User-Session Attributes</p>
							<textarea id="attributes_textarea" 
									  class="code-view" 
									  rows="10" 
									  cols="60" 
									  readonly><?php echo $responseBody?></textarea>
						</div>
                    </div>
                    <div class="header sign-on-header">Sign On</div>
                <?php
                    }
                ?>

                    <div class="row">
                        <div class="login-container">
                            <form method="post" 
                                action=<?php echo UrlUtil::loginUrl() ?>>
                                <div class="ping-input">
                                    <label class="ping-input-label">Username</label>
                                    <div class="tooltip">
                                        <input type="text" 
                                            id="username" 
                                            name="username" 
                                            autofocus>
                                        <span class="tooltiptext tooltip-right">
                                            <?php echo
                                                "The IdP application's default users are \"joe\", \"sarah\" and \"scott\". " .
                                                "They share a default password of \"test\". " .
                                                "These values can be configured in the " . 
                                                "idp-sample-users.json file."
                                            ?>
                                        </span>
                                    </div>
                                </div>
                                <div class="ping-input">
                                    <label class="ping-input-label">Password</label>
                                    <input type="password" id="password" name="password">
                                    <input type="hidden" id="resumePath" name="resumePath" value="<?php echo $_REQUEST['resumePath']; ?>"><br><br>
                                </div>
                                <div class="login-button-container">
                                    <input id="submit_button" class="table-button" type="submit" value="Sign On"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="ping-footer-container">
                    <div class="ping-footer">
                        <div class="ping-credits"></div>
                        <div class="ping-copyright">
                            Copyright © 2003-2020. Ping Identity Corporation. All rights reserved.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>